@model IEnumerable<CampingdoZe2.Models.TipoProduto>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<center><h2>Tipo Produto</h2></center>



@Html.ActionLink("Novo Cliente", "New", null, new { @class = "btn btn-primary" })
</br></br>
@if (@Model.Any())
{
    <table class="table table-bordered table-hover">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nome</th>
                <th>Cpf</th>
                <th>Editar</th>
                <th>Remover</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var customer in Model)
            {
                <tr>
                    <td>@customer.Id</td>
                    <td>@Html.ActionLink(@customer.Nome, "Details", new { customer.Id })</td>
                    <td>@customer.cpf</td>
                    <td width="5px"><a href="/Customers/Delete/@customer.Id"><input type="button" name="botao-ok" value="Remover"></a></td>
                    <td width="5px"><a href="/Customers/edit/@customer.Id"><input type="button" name="botao-ok" value="Editar"></a></td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <p>Não temos nenhum cliente cadastrado</p>
}