@model IEnumerable<CampingdoZe2.Models.Customer>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<center><h2>Clientes</h2></center>

@if (@Model.Any())
{
    <table class="table table-bordered table-hover">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nome</th>
                <th>Cpf</th>
                <th>Editar</th>
                <th>Remover</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var cliente in Model)
            {
                <tr>
                    <td>@cliente.Id</td>
                    <td>@Html.ActionLink(@cliente.Nome, "Details", new { cliente.Id })</td>
                    <td>@cliente.cpf</td>
                    <td width="5px"><a href="/Customers/Delete/@cliente.Id"><input type="button" name="botao-ok" value="Remover"></a></td>
                    <td width="5px"><a href="/Customers/edit/@cliente.Id"><input type="button" name="botao-ok" value="Editar"></a></td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <p>Não temos nenhum cliente cadastrado</p>
}