@model IEnumerable<Mercado_do_zé.Models.Produto>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<center><h2>Produtos cadastrados</h2></center>

@if (@Model.Any())
{
    <div class="container">
        @foreach (var produto in Model)
        {
            <div class="col-xs-12 col-md-6 bootstrap snippets">
                <div class="product-content product-wrap clearfix">
                    <div class="row">
                        <div class="col-md-5 col-sm-12 col-xs-12">
                            <div class="product-image">
                                <img src="@produto.EnderecoImagem" alt="194x228" class="imagem-produto">
                            </div>
                        </div>
                        <div class="col-md-7 col-sm-12 col-xs-12">
                            <div class="product-deatil">
                                <h5 class="name">
                                    @Html.ActionLink(@produto.Nome, "Detalhes", new { produto.Id })
                                    <br />
                                    <span>@produto.Descrição</span>
                                </h5>
                                <p class="price-container">
                                    <span>R$ @produto.Valor</span>
                                </p>
                                <span class="tag1"></span>
                            </div>
                            <div class="description">
                                <p>@produto.Descrição</p>
                            </div>
                            <div class="product-info smart-form">
                                <div class="row">
                                    <div class="col-md-6 col-sm-6 col-xs-6">
                                        <a href="javascript:void(0);" class="btn btn-success">Add to cart</a>
                                    </div>
                                    <div class="col-md-6 col-sm-6 col-xs-6">
                                        <div class="rating">
                                            <label for="stars-rating-5"><i class="fa fa-star"></i></label>
                                            <label for="stars-rating-4"><i class="fa fa-star"></i></label>
                                            <label for="stars-rating-3"><i class="fa fa-star text-primary"></i></label>
                                            <label for="stars-rating-2"><i class="fa fa-star text-primary"></i></label>
                                            <label for="stars-rating-1"><i class="fa fa-star text-primary"></i></label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }

    </div>
}
else
{
    <p>Não temos nenhum produto cadastrado</p>
}